#pageAuth {
    display: flex;
    align-items: stretch;

    height: 100vh;

    aside {
        flex: 7;

        background-color: #818181;
        color: chartreuse;

        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 120px 80px;

        img {
            max-width: 320px;
        }

        strong {
            font: 700 36px "Poppins", sans-serif;
            line-height: 42px;
            margin-top: 16px;
        }

        p {
            font-size: 24px;
            line-height: 32px;
            margin-top: 16px;
        }
    }

    main {
        flex: 8;

        padding: 0 32px;

        display: flex;
        align-items: center;
        justify-content: center;

        .pageAuth--mainContent {
            display: flex;
            flex-direction: column;

            width: 100%;
            max-width: 320px;
            align-items: stretch;
            text-align: center;

            > img {
                align-self: center;
                margin-bottom: 20px;
            }

            .pageAuth--mainContent__divider {
                display: flex;
                align-items: center;

                margin: 20px 0;

                &::before {
                    content: "";
                    height: 1px;

                    background-color: #a8a8b3;
                    margin-right: 5px;

                    flex: 1;
                }

                &::after {
                    content: "";
                    height: 1px;

                    background-color: #a8a8b3;
                    margin-left: 5px;

                    flex: 1;
                }
            }

            h2 {
                font-size: 24px;
                margin: 64px 0px 24px;
                font-family: 'Poppins', sans-serif;
            }

            form {
                input {
                    height: 50px;
                    border-radius: 8px;
                    padding: 0 15px;
                    background-color: #FFF;

                    border: 1.5px solid #a8a8b3;
                }

                button {
                    margin-top: 16px;
                }

                input, button {
                    width: 100%;
                }
            }
            
            span {
                margin-top: 10px;
                font-size: 14px;
                color: #737300;

                a {
                    color: chartreuse;
                }
            }
        }
    }
}